body{   
    background-color: black;
}

.col-sm-4{
    color: whitesmoke;
}

.jumbotron.text-center{
    background-image: url("../images/TTps.jpg");
}

.jumbotron.text-center h1{
    color: whitesmoke    
}

.col{
    margin-top: 50px;
}

.container.col-sm-6.col-sm-push-3{
    color: lightgray;
}

.ListAllText{
    color: lightgray;
}

.rubrik{
    color: lightgrey;   
}

.text{
    color: lightgrey;
}

.container.col-sm-6.col-sm-push-3{
    text-align: center;
}

.textNote {
      color: black;
      padding: 30px 50px 50px 50px;
      background-color: #e0ab0e;
      border-radius: 50px;
      margin: 50px;
}