body{   
    background-color: black;
}

.col-sm-4{
    color: whitesmoke;
}

.jumbotron.text-center{
    background-image: url("TTps.jpg");
}

.jumbotron.text-center h1{
    color: whitesmoke    
}

.col{
    margin-top: 50px;
}

.container.col-sm-6.col-sm-push-3{
    color: lightgray;
}

.ListAllText{
    color: lightgray;
}

.rubrik{
    color: lightgrey;   
}

.text{
    color: lightgrey;
}

.container.col-sm-6.col-sm-push-3{
    text-align: center;
}